<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="section flavors-header">
        <h1>SHOP OUR FLAVORS</h1>
    </div>
    <div class="section flavor-section">
        <div class="flavor-container">
                <% for (flavor of flavors) { %>
                        <div class="card flavor-card">
                            <a href="/flavors/<%=flavor.id%>">
                                <% if (flavor.img.contentType) { %>
                                    <div class="card-image waves-effect waves-block waves-light">
                                            <img src="data:image/<%=flavor.img.contentType%>;base64,
                                            <%=flavor.img.data.toString('base64')%>">
                                    </div> 
                                <%}%>
                                <div class="card-content">
                                    <span class="card-title bold grey-text text-darken-4">
                                        <%=flavor.flavor%>
                                    </span>
                                </div>
                            </a>    
                        </div>
                <%}%>
            </div>
        <div >
            <% if(currentUser) { %>
                <% if(currentUser.isAdmin) { %>
                <a href="/flavors/new" class="btn-floating btn-large rose left" style="margin:20px;">
                    <i class="large material-icons">add</i>
                </a>
                <%}%>
            <%}%>
        </div>
    </div>
</body>
</html>
