<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="container">
        <h1 style="font-size: 40px;"><%=flavor.flavor.toUpperCase()%></h1>
    </div>
    <div class="section">
        <div class="container">
            <% if (flavor.img.contentType) { %>
            <img class="show-img z-depth-3" src="data:image/<%=flavor.img.contentType%>;base64,
                <%=flavor.img.data.toString('base64')%>">
            <%}%>
            <p><%=flavor.description%></p>
        </div>
    </div>
    <% if (currentUser) {%>
        <form action="/orders/<%=currentUser.username%>/<%=flavor.id%>/add" method="POST">
            <div>
                <label class="quantity-label" for="quantity">
                    <input class="quantity" type="number" name="quantity" value=1 style="width: 50px; ">
                    Quantity
                </label>
            </div>
            <input class="z-depth-3 forest button btn" type="submit" value="Add to Cart">
        </form>
    <%}%>
    <a href="/flavors"><button class="z-depth-3 forest button btn"> Back to Menu </button></a>
    <% if (currentUser) { %>
        <% if (currentUser.isAdmin) { %>
            <a href="/flavors/<%=flavor.id%>/edit">
                <button class="z-depth-3 rose right button"> Edit </button>
            </a>
            <form action="/flavors/<%=flavor.id%>?_method=DELETE" method="POST">
                <input class="z-depth-3 button rose right" type="submit" value="Delete">
            </form>
        <% } %>
    <% } %>
</body>
</html>
