<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="container">
        <h1 style="font-size: 40px;"><%=flavor.flavor.toUpperCase()%></h1>
    </div>
    <div class="section">
        <div class="container">
            <img class="show-img z-depth-3" src="data:image/<%=flavor.img.contentType%>;base64,
                <%=flavor.img.data.toString('base64')%>">
            <p><%=flavor.description%></p>
        </div>
    </div>
    <% if (currentUser) {%>
        <a href="/orders/<%=currentUser.username%>/<%=flavor.id%>/add">
            <button class="z-depth-3 forest button"> Add to Cart </button>
        </a>
    <%}%>
    <a href="/flavors"><button class="z-depth-3 forest button"> Back to Menu </button></a>
    <% if (currentUser.isAdmin) { %>
        <a href="/flavors/<%=flavor.id%>/edit">
            <button class="z-depth-3 rose right button"> Edit </button>
        </a>
        <form action="/flavors/<%=flavor.id%>?_method=DELETE" method="POST">
            <input class="z-depth-3 button rose right" type="submit" value="Delete">
        </form>
    <% } %>
</body>
</html>
