<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="container">
        <h1><%=flavor.flavor%></h1>
    </div>
    <div class="section">
        <div class="container">
            <img class="show-img z-depth-3" src="data:image/<%=flavor.img.contentType%>;base64,
                <%=flavor.img.data.toString('base64')%>">
            <p><%=flavor.description%></p>
        </div>
    </div>
    <a href="/flavors"><button class="z-depth-3 forest button"> Back to Menu </button></a>
    <a href="/flavors/<%=flavor.id%>/edit" class="btn-floating btn-large rose">
        Edit
    </a>
    <form action="/flavors/<%=flavor.id%>?_method=DELETE" method="POST">
        <input class="btn-floating btn-large rose" type="submit" value="Delete">
    </form>
</body>
</html>
