<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <script>  
        $(document).ready(function(){
            $('#modal1').modal();
        });
    </script>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="section">
        <h1 style="font-size: 40px;"><%=flavor.flavor.toUpperCase()%></h1>
    </div>
    <div class="section">
        <div class="product-container rose">
            <% if (flavor.img.contentType) { %>
            <img class="show-img z-depth-4" src="data:image/<%=flavor.img.contentType%>;base64,
                <%=flavor.img.data.toString('base64')%>">
            <%}%>
            <div class="product-info">
                <p class="product-desc"><%=flavor.description%></p>
                <p class="product-price">$<%=flavor.price.toFixed(2)%></p>
                <% if (currentUser) {%>
                    <form action="/orders/<%=currentUser.username%>/<%=flavor.id%>/add" method="POST">
                        <div>
                            <label class="quantity-label" for="quantity">
                                <input class="quantity" type="number" name="quantity" value=1>
                                Quantity
                            </label>
                        </div>
                        <input class="z-depth-3 marigold button btn" type="submit" value="Add to Cart">
                    </form>
                <%}%>
            </div>
        </div>
    </div>
    <a href="/flavors"><button class="z-depth-3 button forest btn"> Back to Menu </button></a>
    <% if (currentUser) { %>
        <% if (currentUser.isAdmin) { %>
            <a href="/flavors/<%=flavor.id%>/edit">
                <button class="z-depth-3 forest right button"> Edit </button>
            </a>
            <form action="/flavors/<%=flavor.id%>?_method=DELETE" method="POST">
                <input class="z-depth-3 button forest right" type="submit" value="Delete">
            </form>
        <% } %>
    <% } %>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Added to the cart!</h4>   
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
</body>
</html>
