<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <script>
        $(document).ready(function(){
            $('.modal').modal();
            $('.timepicker').timepicker();
            $('.datepicker').datepicker();
        });
    </script>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <% if(cart) { console.log(cart)%>
    <div class="section">
        <h1>YOUR CART</h1>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <% for (item of cart.orderItems) { %>
                    <div class="col s12 m6">
                        <div class="card forest">
                          <div class="card-content white-text">
                            <span class="card-title"><%=item.product%></span>
                            <p>Qty: <%=item.quantity%> </p>
                          </div>
                          <div class="card-action">
                            <form action="/orders/<%=currentUser.username%>/<%=cart.id%>/<%=item.id%>/remove?_method=PUT" method="POST">
                                <input class="button forest cart-action" type="submit" value="Remove Item">
                            </form>
                            <form class="cart-action" action="/orders/<%=currentUser.username%>/<%=cart.id%>/<%=item.id%>/inc?_method=PUT" method="POST">
                                <button class="btn waves-effect waves-light forest cart-action" type="submit">
                                    <i class="small material-icons">keyboard_arrow_up</i>
                                </button>
                            </form>
                            <form class="cart-action" action="/orders/<%=currentUser.username%>/<%=cart.id%>/<%=item.id%>/dec?_method=PUT" method="POST">
                                <button class="btn waves-effect waves-light forest cart-action" type="submit">
                                    <i class="small material-icons">keyboard_arrow_down</i>
                                </button>
                            </form>
                          </div>
                        </div>
                      </div>              
                <%}%>
            </div>
            <!-- Modal Trigger -->
            <a class="waves-effect waves-light btn modal-trigger forest button white-text" href="#modal1">Place Order</a>

            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <form action="/orders/<%=cart.id%>/placeOrder?_method=PUT" method="POST">
                    <div class="modal-content">
                        <h4>Order Details</h4>
                        <div class="input-field">
                            <input id="orderName" name="orderName" type="text" class="validate">
                            <label for="orderName">Your Name</label>
                        </div>
                        <div class="input-field">
                            <input class="datepicker" id="pickUpDate" name="pickUpDate" type="text" class="validate">
                            <label for="pickUpDate">Pick Up Date</label>
                        </div>
                        <div class="input-field">
                            <input class="timepicker" id="pickUpTime" name="pickUpTime" type="text" class="validate">
                            <label for="pickUpTime">Pick Up Time</label>
                        </div>
                                    
                        <input class="forest button white-text modal-close waves-effect waves-green" type="submit" value="Place Order">
                    </div>
                </form>
            </div>
            <% } else { %>
                <h1>Your Cart Is Empty</h1>
                <h4 style="margin: 100px auto">Checkout the shop to add products to your cart!</h4>
            <%}%>
            <a href="/flavors/">
                <button class="z-depth-3 forest button"> Back to Shop </button>
            </a>
        </div>
    </div>
</body>
</html>
