<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="section">
        <h1>Your Cart</h1>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <% for (item of cart.orderItems) { %>
                    <div class="col s12 m6">
                        <div class="card forest">
                          <div class="card-content white-text">
                            <span class="card-title"><%=item.product%></span>
                            <p>Qty: <%=item.quantity%> </p>
                          </div>
                          <div class="card-action">
                            <form action="/orders/<%=currentUser.username%>/<%=cart.id%>/<%=item.id%>/remove?_method=PUT" method="POST">
                                <input class="button forest cart-action" type="submit" value="Remove Item">
                            </form>
                            <form class="cart-action" action="/orders/<%=currentUser.username%>/<%=cart.id%>/<%=item.id%>/inc?_method=PUT" method="POST">
                                <button class="btn waves-effect waves-light forest cart-action" type="submit">
                                    <i class="small material-icons">keyboard_arrow_up</i>
                                </button>
                            </form>
                            <form class="cart-action" action="/orders/<%=currentUser.username%>/<%=cart.id%>/<%=item.id%>/dec?_method=PUT" method="POST">
                                <button class="btn waves-effect waves-light forest cart-action" type="submit">
                                    <i class="small material-icons">keyboard_arrow_down</i>
                                </button>
                            </form>
                          </div>
                        </div>
                      </div>              
                <%}%>
            </div>
            <a href="/flavors/" class="button forest">
                Back to Shop
            </a>
        </div>
    </div>
</body>
</html>
